---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.astro";
import AboutUs from "../../components/AboutUs.astro";
import Card from "../../components/Card.astro";
import CircleIcon from "../../components/CircleIcon.astro";
const courses = [
  {
    title: "OSHA",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide range of topics, such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "/assets/safety/courses/curso1.png",
  },
  {
    title: "Fork Lift Operator",
    description:
      "A Forklift Operator is a highly skilled individual who operates heavy machinery for the purpose of moving and transporting materials. Their primary responsibility is to ensure the secure and efficient movement of goods within a warehouse, industrial or construction environment. Their expertise and meticulousness make them an indispensable asset in any logistics operation.",
    image: "/assets/safety/courses/curso2.png",
  },
  {
    title: "Fall Protection",
    description:
      "<p>The Fall Protection program is designed to train individuals in the safe and effective use of fall protection equipment. This course is essential for anyone working in industries where there is a risk of falling from heights, such as construction or general industry.</p><p>The course covers important topics such as hazard identification, risk assessment, and the hierarchy of controls. Participants will learn how to identify potential fall hazards in the workplace and how to implement control measures to prevent accidents.</p><p>In addition to theoretical knowledge, the Fall Protection certification course will also provide practical training. Participants will have the opportunity to practice using fall protection equipment in a controlled environment, allowing them to develop the necessary skills and confidence to use it safely in real-life situations.</p>",
    image: "/assets/safety/courses/curso3.png",
  },
  {
    title: "First Aid, CPR & AED Certification",
    description:
      "First Aid and CPR training are essential for individuals who want to be prepared for emergencies. By learning how to administer first aid and perform CPR correctly, you can provide immediate assistance to someone in need until professional help arrives. Whether it's a workplace accident, a medical emergency, or a sudden cardiac arrest, being able to respond quickly and effectively can have a significant impact on the outcome. Enrolling in a First Aid and CPR course today will give you the skills and confidence you need to handle emergency situations competently.",
    image: "/assets/safety/courses/curso4.png",
  },
  {
    title: "Mobile Elevating Work Platforms (MEWP)",
    description:
      "Mobile Elevating Work Platforms (MEWP) course is crucial for individuals working in hazardous environments or those who wish to be prepared for emergencies. By acquiring the knowledge and skills necessary to operate MEWPs safely and effectively, you can minimize the risk of accidents and ensure a safer working environment. This comprehensive course covers various aspects, including equipment inspection, proper operation techniques, hazard identification, and emergency procedures. Upon completion of the MEWP course, you will be equipped with the expertise and confidence to operate these platforms proficiently, enhancing your professional capabilities and contributing to a safer workplace.",
    image: "/assets/safety/courses/curso5.png",
  },
  {
    title: "Rigger & Signal Person Training",
    description:
      "Our Rigging and Signal Course is designed to provide comprehensive training for individuals working under the guidance of a competent person. This course will equip you with the necessary knowledge and expertise to excel in the field of rigging. We cover everything from lifting loads to crane operations. You will learn essential techniques and safety protocols for efficient rigging work, including hand, voice, and radio communications. You will also master the art of hand signals as required by industry standards such as ASME B30.3-2004, ASME B30.5-2007, and ASME B30.6-2003. Our course provides in-depth information on rigging hardware, including hooks, shackles, clips, clamps, as well as synthetic and wire rope slings. By completing this course, you will have the skills to confidently communicate guidance and direction to crane operators during lifting, hoisting, moving, or releasing loads. Take advantage of this opportunity to enhance your expertise in rigging.",
    image: "/assets/safety/courses/curso6.png",
  },
  {
    title: "Scaffold Safety",
    description:
      "Scaffold training is crucial for ensuring safety in construction projects. It involves educating workers on the proper assembly, use, and dismantling of scaffolding structures. This training covers important topics such as fall protection, load capacity, and inspection procedures. By providing scaffold training, companies can reduce accidents and create a safer work environment. Our comprehensive scaffold training course is designed to equip you with the necessary knowledge and expertise to work confidently and securely on scaffolds. From understanding different types of scaffolding to mastering OSHA safety requirements, we have everything covered. Explore the world of suspension and supported scaffolds as we delve into OSHA directives and safety measures like guardrails and personal fall arrest systems. Prioritize safety and enroll in our scaffold training course today to enhance your skills to new heights!",
    image: "/assets/safety/safety1.jpeg",
  },
];
---

<BaseLayout title="Advocacy Matters">
  <Hero />
  <AboutUs
    title="About Us"
    image="/assets/safety/safety1.jpeg"
    responsiveImage=""
    content1="AA Safety Resources is a trusted and experienced company with over 15 years of expertise in providing top-notch bilingual safety training and consulting services. Our commitment to workplace safety is unwavering, and we take pride in delivering comprehensive training programs and professional consulting services to our clients. At A&A Safety Resources, we understand the importance of a safe work environment. That is why our team of highly skilled trainers and consultants are equipped with the knowledge and experience to address the unique safety challenges faced by businesses across various industries. Our bilingual approach sets us apart, as we strive to bridge language barriers and ensure that all employees have access to vital safety information. Whether it is conducting training sessions or developing customized safety plans, we are dedicated to empowering organizations with the tools they need to create a culture of safety."
    content2="With AA Safety Resources by your side, you can rest assured that your workforce will receive top-quality training tailored to their specific needs. Our comprehensive programs cover a wide range of topics, including hazard identification, emergency preparedness, workplace ergonomics, and more. Additionally, our professional consulting services provide invaluable guidance in developing effective safety policies and procedures. We work closely with our clients to assess their unique needs and implement practical solutions that align with industry standards. When it comes to workplace safety, trust the experience and expertise of A&A Safety Resources. Contact us today to learn how we can help you create a safer work environment for your organization."
  />
  <section id="courses" class="text-black mx-6 xl:mx-32 h-max">
    <h1 class="text-4xl text-blue-footer font-semibold text-center">Courses</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      {
        courses.map((course) => (
          <Card
            image={course.image}
            title={course.title}
            description={course.description}
          />
        ))
      }
    </div>
  </section>
  <section id="services" class="text-black mx-6 xl:mx-32 h-max pt-20">
    <h1 class="text-4xl text-blue-footer font-semibold text-center pb-20">
      Services
    </h1>
    <div class="flex justify-center space-x-20">
      <CircleIcon icon="Services2" title="Safety Audits" />
      <CircleIcon icon="Services3" title="Safety Training" />
      <CircleIcon icon="Services1" title="Staffing" />
      <CircleIcon icon="Services2" title="Translation Services" />
      <CircleIcon icon="Services3" title="Interpreting Services" />
    </div>
  </section>

  <style></style>
</BaseLayout>
