<div class="bg-secondary px-4 py-3 text-white">
  <p class="text-center text-sm font-medium">
    New Course
    <a href="#" class="inline-block underline font-bold"
      >Disaster Site Worker!</a
    >
  </p>
</div>
