---
interface Props {
  title: string;
  highlight: string;
}

const { title, highlight } = Astro.props;
---

<div class="bg-secondary px-4 py-3 text-white">
  <p class="text-center text-sm font-medium">
    {title}
    <a href="#" class="inline-block underline font-bold"> {highlight}</a>
  </p>
</div>
