---
import Logo from "../assets/safety/logo.svg";
---

<footer
  class="p-4 bg-gradient-to-tl from-[#081016] to-[#244663] sm:p-6"
  id="footer"
>
  <div class="md:flex md:justify-between mt-20 mx-10">
    <div class="mb-6 md:mb-0">
      <a href="#">
        <img
          src={Logo.src}
          class="mb-20 content h-28 mr-3 sm:h-30"
          alt="Safety A&A Logo"
        />
      </a>
    </div>
    <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-2">
      <div>
        <hr class="mb-6 border-2 border-white" />
        <ul class="text-white">
          <li class="mb-4">
            <a
              href="tel:1-800-234-3432"
              class="text-md font-bold text-whiter hover:underline"
              >804-325-9959</a
            >
          </li>
          <li class="mb-4">
            <a
              href="mailto:indomita85@gmail.com"
              class="text-md text-clip font-bold text-whiter hover:underline"
              >indomita85@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
