---
export const OSHA_COURSES_EN = [
  {
    title: "Disaster Site Worker",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide variety  of topics , such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "Course",
    bottomSubtitle: "15 Hrs | $400",
  },
  {
    title: "OSHA 10",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide variety  of topics , such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "Construction",
    bottomSubtitle: "2 Days | $295",
  },
  {
    title: "OSHA 10",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide variety  of topics , such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "General Industry",
    bottomSubtitle: "2 Days | $295",
  },
  {
    title: "OSHA 30",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide variety  of topics , such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "Construction",
    bottomSubtitle: "4 Days | $650",
  },

  {
    title: "Disaster Site Worker",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide variety  of topics , such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "Course",
    bottomSubtitle: "7.7 Hrs | $200",
  },
];

export const ALL_COURSES = [
  {
    title: "Adult & Child first AID/CPR/AED",
    subtitle1: "1 Day",
    subtitle2: "$100 / Per Person",
  },
  {
    title: "Fall Protection",
    subtitle1: "1 Day",
    subtitle2: "$150 / Per Person",
  },
  {
    title: "Forklift",
    subtitle1: "1 Day",
    subtitle2: "$180 / Per Person",
  },
  {
    title: "Rigging & Signaling",
    subtitle1: "1 Day",
    subtitle2: "$225 / Per Person",
  },
  {
    title: "Aerial Lift",
    subtitle1: "1 Day",
    subtitle2: "$180 / Per Person",
  },
  {
    title: "Adult First AID/CPR/AED",
    subtitle1: "1 Day",
    subtitle2: "$95 / Per Person",
  },
  {
    title: "Computer Contractor Program",
    subtitle1: "8 Day",
    subtitle2: "$500 / Per Person",
  },
  {
    title: "Competent Person Training Construction",
    subtitle1: "1 Day",
    subtitle2: "$150 / Per Person",
  },
  {
    title: "Blueprint Reading",
    subtitle1: "2 Day",
    subtitle2: "$400 / Per Person",
  },
];

export const TESTIMONIALS_ITEMS = [
  {
    title: "L.A. Construction",
    description:
      "I have had the pleasure of working with A&A for many years to provide training for my team with construction courses and certifications. Their offered Spanish courses feature a dynamic and interactive approach that has fully met the satisfaction of all members on my team. We are very grateful for their expertise and professionalism.",

    footerText: "Oscar Hernandez - Owner",
  },
  {
    title: "Yaya Contracting INC.",
    description:
      "After implementing safety training from A&A, we saw a remarkable decrease in workplace accidents. Our employees now have a better understanding of safety protocols, resulting in a safer work environment and increased productivity.",

    footerText: "Lynis Leon",
  },
  {
    title: "A'NK Construction INC.",
    description:
      "Their courses are not only informative but also engaging, keeping participants actively involved. As a result of A&A's expertise and dedication to safety training, I feel better equipped to identify and mitigate potential hazards in the workplace. I highly recommend A&A's OSHA courses to anyone seeking comprehensive and effective safety training.",
    footerText: "Jose Antonio Martinez",
  },
];

export const OSHA_SUBTITLE =
  "Learn from experienced instructors who are knowledgeable in safety regulations and best practices.";
export const OSHA_TITLE = "OSHA COURSES";
export const ABOUT_TITLE = "ABOUT US";
export const ABOUT_CONT_1 =
  "AA Safety Resources is a trusted and experienced company with over 15 years of expertise in providing top-notch bilingual safety training and consulting services. Our commitment to workplace safety is unwavering, and we take pride in delivering comprehensive training programs and professional consulting services to our clients. At A&A Safety Resources, we understand the importance of a safe work environment. That is why our team of highly skilled trainers and consultants are equipped with the knowledge and experience to address the unique safety challenges faced by businesses across various industries. Our bilingual approach sets us apart, as we strive to bridge language barriers and ensure that all employees have access to vital safety information. Whether it is conducting training sessions or developing customized safety plans, we are dedicated to empowering organizations with the tools they need to create a culture of safety.";
export const ABOUT_CONT_2 =
  "With AA Safety Resources by your side, you can rest assured that your workforce will receive top-quality training tailored to their specific needs. Our comprehensive programs cover a wide variety  of topics , including hazard identification, emergency preparedness, workplace ergonomics, and more. Additionally, our professional consulting services provide invaluable guidance in developing effective safety policies and procedures. We work closely with our clients to assess their unique needs and implement practical solutions that align with industry standards. When it comes to workplace safety, trust the experience and expertise of A&A Safety Resources. Contact us today to learn how we can help you create a safer work environment for your organization.";
export const SERVICES = [
  "Safety Audits",
  "Safety Training",
  "Staffing",
  "Translation Services",
  "Interpreting Services",
];
export const SERVICES_TITLE = "SERVICES";
export const ALL_TITLE = "ADDITIONAL COURSES";
export const ALL_SUBTITLE =
  "From advanced safety courses to leadership techniques and project management, our programs provide you with the tools and knowledge necessary to excel in your career.";
export const BUTTON_TXT_ALL = "GROUP PROMOTION";
export const TESTIMONIALS_TITLE = "Read trusted reviews from our customers";
export const TESTIMONIALS_SUBTITLE =
  "Testimonials from our valued customers highlight the effectiveness and impact of our safety training programs in various industries.";

export const CONTACT_US_TITLE = " CONTACT US";
export const CONTACT_US_SUBTITLE =
  " Your privacy is important to us. We will not share or publicize the information you provide when you contact us. We use your data solely to respond to your inquiries.";
export const FOOTER_TEXT = "Safety is First";
export const SLUG = `"Safety is our unwavering commitment to ensure every worker returns home unharmed, every structure stands strong, and every project reflects the highest standards of care and diligence."`;
export const BTN_TXT_HERO = "CONTACT US";
export const ANNOUNCEMENT_TITLE = "New Course";
export const ANNOUNCEMENT_HIGHTLIGHT = "Disaster Site Worker!";
export const EMAIL = "Email";
export const PHONE = "Phone Number";
export const ADDRESS = "Address";
export const PLACEHOLDER_TXT = "Message";
export const BTN_TEXT = "Send";

export const MENU = [
  {
    name: "Home",
    url: "#home",
  },
  {
    name: "About",
    url: "#about",
  },
  {
    name: "Services",
    url: "#services",
  },
  {
    name: "OSHA",
    url: "#osha",
  },
  {
    name: "Courses",
    url: "#courses",
  },
  {
    name: "Testimonials",
    url: "#testimonials",
  },
  {
    name: "Contact",
    url: "#contact",
  },
  {
    name: "Español",
    url: "/safety-a-a/esp",
  },
];
---
