---
export const OSHA_COURSES_EN = [
  {
    title: "Disaster Site Worker",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide range of topics, such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "Curso",
    bottomSubtitle: "15 Hrs | $400",
  },
  {
    title: "OSHA 10",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide range of topics, such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "Construccion",
    bottomSubtitle: "2 Dias | $295",
  },
  {
    title: "OSHA 10",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide range of topics, such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "Industria General",
    bottomSubtitle: "2 Dias | $295",
  },
  {
    title: "OSHA 30",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide range of topics, such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "Construcion",
    bottomSubtitle: "4 Dias | $650",
  },

  {
    title: "Disaster Site Worker",
    description:
      " <div> <h2 class='text-green-700 font-semibold'>Osha 10</h3><p>OSHA 10 Construction is a training program that aims to enhance safety in the construction sector. It encompasses various subjects including hazard identification, fall prevention, and electrical safety. This comprehensive course spans 10 hours and equips workers with vital expertise and abilities to effectively mitigate accidents and injuries at the worksite.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 Construction</h3><p>OSHA 30 Construction is an extensive training program designed to promote safety in the construction industry. It covers a wide range of topics, such as identifying hazards, preventing falls, and ensuring electrical safety. This in-depth course spans 30 hours and provides workers with the necessary knowledge and skills to effectively prevent accidents and injuries on the job site.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 10 General Industry</h3><p>The OSHA 10 General Industry course aims to enhance safety and reduce workplace accidents and injuries. This thorough training program lasts for 10 hours and covers various important topics such as identifying hazards, preventing falls, and implementing electrical safety measures. By providing workers with the required knowledge and skills, this comprehensive course strives to prevent workplace accidents and establish a safer working environment.</p><br/><h2 class='text-green-700 font-semibold'>OSHA 30 General Industry</h3><p>The OSHA 30 General Industry course is designed to improve workplace safety and minimize accidents and injuries. This extensive training program spans 30 hours and covers important topics including hazard identification, fall prevention, and adherence to electrical safety protocols. By equipping employees with vital knowledge and skills, this comprehensive course aims to mitigate workplace accidents and establish a safe working environment.</p></div>",
    image: "https://iili.io/JlT1FR9.png",
    topSubtitle: "Curso",
    bottomSubtitle: "7.7 Hrs | $200",
  },
];

export const ALL_COURSES = [
  {
    title: "Adult & Child first AID/CPR/AED",
    subtitle1: "1 Dia",
    subtitle2: "$100 / Por Persona",
  },
  {
    title: "Fail Protection",
    subtitle1: "1 Dia",
    subtitle2: "$150 / Por Persona",
  },
  {
    title: "Forklift",
    subtitle1: "1 Dia",
    subtitle2: "$180 / Por Persona",
  },
  {
    title: "Riggin & Signal Person",
    subtitle1: "1 Dia",
    subtitle2: "$225 / Por Persona",
  },
  {
    title: "Aerial Lift",
    subtitle1: "1 Dia",
    subtitle2: "$180 / Por Persona",
  },
  {
    title: "Adult First AID/CPR/AED",
    subtitle1: "1 Dia",
    subtitle2: "$95 / Por Persona",
  },
  {
    title: "Computer Class Contractors",
    subtitle1: "8 Dias",
    subtitle2: "$500 / Por Persona",
  },
  {
    title: "Competent Person Requirements for Construction",
    subtitle1: "1 Dia",
    subtitle2: "$150 / Por Persona",
  },
  {
    title: "Blueprint Reading",
    subtitle1: "2 Dias",
    subtitle2: "$400 / Por Persona",
  },
];

export const TESTIMONIALS_ITEMS = [
  {
    title: "LA Construction",
    description:
      "He tenido el placer de trabajar  con A&A durante muchos años para proporcionar entrenamiento a todo mi equipo en cursos y certificaciones de construcción. Sus clases en español y su enfoque dinámico y didáctico han dejado completamente satisfechos a todos los miembros de mi equipo. Estamos muy agradecidos por su experiencia y profesionalismo.",
    footerText: "Oscar Hernandez - Owner",
  },
  {
    title: "Yaya Contracting INC.",
    description:
      "Después de implementar el entrenamiento en seguridad de A&A, observamos una notable disminución en los accidentes laborales. Nuestros empleados ahora tienen una mejor comprensión de los protocolos de seguridad, lo que ha resultado en un ambiente de trabajo más seguro y un aumento en la productividad.",
    footerText: "Lynis Leon",
  },
  {
    title: "A'NK Construction INC.",
    description:
      "Sus cursos no solo son informativos, sino también dinamicos, manteniendo a los participantes activamente involucrados en todo momento. Como resultado de la experiencia y dedicación de A&A a la capacitación en seguridad, mis trabajadores estan preparados para identificar y mitigar posibles peligros en el lugar de trabajo. Recomiendo altamente los cursos de OSHA de A&A a cualquier persona que busque una capacitación en seguridad integral y efectiva.",
    footerText: "Jose Antonio Martinez",
  },
];
export const OSHA_TILTE = "OSHA";
export const OSHA_SUBTITLE =
  "Aprende de instructores experimentados que tienen conocimientos en regulaciones de seguridad y mejores prácticas.";
export const OSHA_TITLE = "OSHA";
export const ABOUT_TITLE = "SOBRE NOSOTROS";
export const ABOUT_CONT_1 =
  "AA Safety Resources es una empresa confiable y experimentada con más de 15 años de experiencia en proporcionar capacitación en seguridad y servicios de consultoría bilingües de primera calidad. Nuestro compromiso con la seguridad en el lugar de trabajo es inquebrantable, y nos enorgullece ofrecer programas de capacitación integrales y servicios de consultoría profesional a nuestros clientes. En A&A Safety Resources, entendemos la importancia de un entorno de trabajo seguro. Es por eso que nuestro equipo de instructores y consultores altamente capacitados están equipados con el conocimiento y la experiencia para abordar los desafíos de seguridad únicos que enfrentan las empresas en diversas industrias. Nuestro enfoque bilingüe nos distingue, ya que nos esforzamos por superar las barreras del idioma y asegurar que todos los empleados tengan acceso a información vital sobre seguridad. Ya sea realizando sesiones de capacitación o desarrollando planes de seguridad personalizados, estamos dedicados a empoderar a las organizaciones con las herramientas que necesitan para crear una cultura de seguridad.";
export const ABOUT_CONT_2 =
  "Con AA Safety Resources a su lado, puede estar seguro de que su fuerza laboral recibirá capacitación de alta calidad adaptada a sus necesidades específicas. Nuestros programas integrales cubren una amplia gama de temas, incluida la identificación de peligros, la preparación para emergencias, la ergonomía en el lugar de trabajo y más. Además, nuestros servicios de consultoría profesional brindan una orientación invaluable en el desarrollo de políticas y procedimientos de seguridad efectivos. Trabajamos en estrecha colaboración con nuestros clientes para evaluar sus necesidades únicas e implementar soluciones prácticas que se alineen con los estándares de la industria. Cuando se trata de seguridad en el lugar de trabajo, confíe en la experiencia y el conocimiento de A&A Safety Resources. Contáctenos hoy mismo para saber cómo podemos ayudarlo a crear un entorno de trabajo más seguro para su organización.";
export const SERVICES = [
  "Auditorías de Seguridad",
  "Capacitación en Seguridad",
  "Dotación de Personal",
  "Servicios de Traducción",
  "Servicios de Interpretación",
];
export const SERVICES_TITLE = "SERVICIOS";
export const ALL_TITLE = "TODOS LOS CURSOS";
export const ALL_SUBTITLE =
  "Profesional de seguridad dedicado con pasión por promover la seguridad en el lugar de trabajo en los sectores industrial y de la construcción. Buscando aprovechar la amplia experiencia y experiencia en capacitación en seguridad para educar y empoderar a las organizaciones en la creación de entornos de trabajo más seguros.";
export const BUTTON_TXT_ALL = "PROMOCIÓN GRUPAL";
export const TESTIMONIALS_TITLE = "Reseñas confiables de nuestros clientes";
export const TESTIMONIALS_SUBTITLE =
  "Las opiniones de nuestros valiosos clientes destacan la efectividad y el impacto de nuestros programas de capacitación en seguridad en diversas industrias.";

export const CONTACT_US_TITLE = "CONTÁCTENOS";
export const CONTACT_US_SUBTITLE =
  "Tu privacidad es importante para nosotros. No compartiremos ni publicaremos la información que nos proporciones al contactarnos. Utilizamos tus datos únicamente para responder a tus consultas.";
export const FOOTER_TEXT = "La seguridad es lo primero";
export const SLUG = `"La seguridad es nuestro compromiso inquebrantable para garantizar que cada trabajador regrese a casa sin ningún daño, que cada estructura permanezca firme y que cada proyecto refleje los más altos estándares de cuidado y diligencia."`;
export const BTN_TXT_HERO = "CONTÁCTENOS";
export const MENU = [
  {
    name: "Inicio",
    url: "#home",
  },
  {
    name: "Sobre Nosotros",
    url: "#about",
  },
  {
    name: "Servicios",
    url: "#services",
  },
  {
    name: "OSHA",
    url: "#osha",
  },
  {
    name: "Cursos",
    url: "#courses",
  },
  {
    name: "Testimonios",
    url: "#testimonials",
  },
  {
    name: "Contáctanos",
    url: "#contact",
  },
  {
    name: "English",
    url: "/en",
  },
];
---
